<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <link rel="stylesheet" href="./css/tasks.css">
</head>

<body>
    <div id="main-container">
        <div id="switch-tabs">
            <a href="/dashboard">
                <span class="switch-btn" id="dashboard">
                    Dashboard
                </span>
            </a>
            <a href="/tasks">
                <span class="switch-btn" id="my-tasks">
                    Tasks
                </span>
            </a>
        </div>

        <div id="tasks-body">
            <!-- Date-Day -->
            <div id="date-day">
                <div class="tasks-page-date">
                    <span id="tasks-date">
                        <%= todays_Date %>
                    </span>
                    <span id="tasks-month">
                        <%= current_Month %>
                            ,
                    </span>
                    <span id="tasks-year">
                        <%= current_Year %>
                    </span>
                </div>
                <div class="tasks-day">
                    <span id="tasks-day">
                        <%= day %>
                    </span>
                </div>
                <!-- Search Bar -->
            </div>
            <div id="search-box">
                <input type="text" id="search-bar" placeholder="Feature Coming Soon">
                <i id="search-icon" class="bi bi-search"></i>
            </div>
            <!-- Tasks Container -->
            <ul class="tasks-list">
                <span>Pending</span>
                <% for(let i of Todo_list) { %>
                    <% if(i.completed==false) { %>
                        <li class="tasks">
                            <div class="check-label">
                                <div class="check-mark">
                                    <input data-id="<%= i._id%>" id="completed" type="checkbox" name="completed" <% if
                                        (i.completed) { %>checked<% } %>>
                                </div>
                                <div class="label-date">
                                    <div class="task-label">
                                        <%= i.title %>
                                    </div>
                                    <div class="task-date">
                                        <%= i.myDate %>
                                    </div>
                                </div>
                            </div>
                            <div class="delete-task">
                                <span id="category">
                                    <%= i.categoryChoosed%>
                                </span>
                                <a href="/delete-contact/?id=<%= i._id%>">
                                    <i class="bi bi-trash3"></i>
                                </a>
                            </div>
                        </li>

                        <% } %>
                            <% } %>
            </ul>

            <ul class="tasks-list">
                <span>Completed</span>
                <% for(let i of Todo_list) { %>
                    <% if( i.completed==true) {%>
                        <li class="tasks">
                            <div class="check-label">
                                <div class="check-mark">
                                    <input data-id="<%= i._id%>" id="completed" type="checkbox" name="completed" <% if
                                        (i.completed) { %>checked<% } %>>
                                </div>
                                <div class="label-date">
                                    <div class="task-label">
                                        <%= i.title %>
                                    </div>
                                    <div class="task-date">
                                        <%= i.myDate %>
                                    </div>
                                </div>
                            </div>


                            <div class="delete-task">
                                <span id="category">
                                    <%= i.categoryChoosed%>
                                </span>
                                <a href="/delete-contact/?id=<%= i._id%>">
                                    <i class="bi bi-trash3"></i>
                                </a>
                            </div>
                        </li>
                        <% } %>
                            <% } %>

            </ul>

        </div>
        <div id="add-tasks">
            <i class="bi bi-plus-lg"></i>
        </div>
    </div>
    <!-- Setting Task -->
    <form action="/addtodo" method="post" id="add-task-container">
        <i id="close-container" class="bi bi-x-lg"></i>
        <h1>Add Task</h1>
        <div id="title-category">
            <div id="set-title">
                <span>Title</span>
                <input type="text" name="title">
            </div>

            <div id="set-cat">
                <span>Category</span>
                <select name="categoryChoosed">
                    <option value="Select">Select</option>
                    <option value="Meeting">Meeting</option>
                    <option value="Work">Work</option>
                    <option value="Study">Study</option>
                    <option value="Play">Play</option>
                    <option value="Video Game">Video Game</option>
                    <option value="Event">Event</option>
                </select>
            </div>
        </div>

        <div id="set-description">
            <span>Description</span>
            <textarea name="description" id="task-description" cols="" rows=""></textarea>
        </div>

        <div id="setTime-date">
            <div id="set-date">
                <label for="myDate">Enter a date:</label>
                <input type="date" id="myDate" name="myDate">
            </div>

            <div id="set-time">
                <label for="myTime">Enter a time:</label>
                <input type="time" id="myTime" name="myTime">
            </div>
        </div>

        <button id="add-task-btn">
            Add Task
        </button>
    </form>

    <script src="/js/tasksList.js"></script>
</body>

</html>